 <div class="user-details">
  <h1> Habilidades </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Linguagens</h2>
      <i class="devicon-cplusplus-plain"></i>
      <i class="devicon-ruby-plain-wordmark colored"></i>
      <i class="devicon-java-plain-wordmark colored"></i>
      <p>Minha paixão é Ruby on Rails, mas também já contribui com projetos em Java/Spring, Android, Python/Django e C++.</p>
    </div>
    <div class="tech">
      <h2>Ferramentas</h2>
      <i class="devicon-git-plain colored colored"></i>
      <i class="devicon-vagrant-original-wordmark colored"></i>
      <i class="devicon-linux-plain"></i>
      <p>Tenho experiência com git, jenkins, vagrant, jira, linux e bizagi.</p>
    </div>
    <div class="tech">
      <h2>Técnicas</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Valorizo práticas como TDD, pareamento, principios SOLID, integração contínua, aplicação dos valores ágeis e alguns métodos como Scrum, XP e Kanban. </p>
    </div>
   <br>
   </div>
   <div class="user">
       <div class="tech">
      <h2>Projeto</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Valorizo práticas como TDD, pareamento, principios SOLID, integração contínua, aplicação dos valores ágeis e alguns métodos como Scrum, XP e Kanban. </p>
    </div>
       <div class="tech">
      <h2>Interpessoais</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Valorizo práticas como TDD, pareamento, principios SOLID, integração contínua, aplicação dos valores ágeis e alguns métodos como Scrum, XP e Kanban. </p>
    </div>
       <div class="tech">
      <h2>Causas</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Valorizo práticas como TDD, pareamento, principios SOLID, integração contínua, aplicação dos valores ágeis e alguns métodos como Scrum, XP e Kanban. </p>
    </div>
</div>
