 <div class="user-details">
  <h1> Olá, sou a Thai Braga :) </h1>
  <p> Ávida por literatura, patinadora nas horas livres e estusiasta do Software Livre. Troco qualquer festa por jogos de tabuleiro com amigos e prefiro nescau do que toddy. </p>
  <br>
  <img width="400px" height="450px" src="/assets/img/thai.jpg"/>
    <br><br>
    <p> {{site.user_description_hobbies}} </p>
    <p> Entre em contato para conversar sobre qualquer um desses assuntos ou outros. Minhas redes sociais estão logo acima.
  <br>
  <h1 id="skills"> Habilidades </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Linguagens</h2>
      <i class="devicon-cplusplus-plain"></i>
      <i class="devicon-ruby-plain-wordmark colored"></i>
      <i class="devicon-java-plain-wordmark colored"></i>
      <p>Minha paixão é Ruby on Rails, mas também já contribui com projetos em Java/Spring, Android, Python/Django e C++.</p>
    </div>
    <div class="tech">
      <h2>Ferramentas</h2>
      <i ><img width="80px" height="80px" src="/assets/img/git.jpeg"/></i>
      <i ><img width="70px" height="70px" src="/assets/img/jenkins.png"/></i>
      <p>Tenho experiência git, travis, jenkins, gitlabCI, docker, vagrant, JADE, jira, salesforce, linux e bizagi.</p>
    </div>
    <div class="tech">
      <h2>Técnicas</h2>
      <i ><img width="70px" height="70px" src="/assets/img/qaaa.png"/></i>
      <i ><img width="70px" height="70px" src="/assets/img/bug.png"/></i>
      <i ><img width="70px" height="70px" src="/assets/img/qaa.png"/></i>
      <p>Valorizo práticas como TDD, pareamento, integração e entrega contínua, bem como princípios SOLID, arquitetura evolutiva e padrões de projetos. </p>
    </div>
   <br>
   </div>
   <div class="user">
       <div class="tech">
      <h2>Projeto</h2>
      <i ><img width="70px" height="70px" src="/assets/img/agile.png"/></i>
      <i ><img width="70px" height="70px" src="/assets/img/Kanban_3.png"/></i>
      <i ><img width="70px" height="70px" src="/assets/img/poker.png"/></i>
      <p>Experiência com gestão de projetos, requisitos e melhoria de processos. Interesse em metodologia ágil e seus valores, bem como nos métodos scrum, kanban e XP.</p>
    </div>
       <div class="tech">
      <h2>Interpessoais</h2>
      <i ><img width="70px" height="70px" src="/assets/img/negociacao.png"/></i>
      <i ><img width="70px" height="70px" src="/assets/img/ap.png"/></i>
      <i ><img width="70px" height="70px" src="/assets/img/comunicacao.png"/></i>
      <p> Busco compartilhar conhecimento ministrando cursos e palestras. Principais habilidades interpessoais são comunicação, consultoria, liderança e negociação. </p>
    </div>
       <div class="tech">
      <h2>Causas</h2>
      <i ><img width="70px" height="70px" src="/assets/img/ap.jpeg"/></i>
      <i ><img width="70px" height="70px" src="/assets/img/app.png"/></i>
      <i ><img width="70px" height="70px" src="/assets/img/rg.png"/></i>
      <p> Feminista e ativista pela igualdade racial. Contribuo na organição e como coach no Apredendo Juntas, Afropython, Rails Girls de Porto Alegre e de Brasília.</p>
    </div>
</div>
