<div class="user-details">
  <h1> Contribuição nos Projetos </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" width="200px" height="200px" src="{{ "/assets/img/scarefault.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Scarefault </h3>
    <ul>
      <li> Linguagem: C++</li>
    </ul>
    <p>Framework para geração de testes unitários. Implementado inicialmente para gerar testes para Grails, entretanto permite extender para qualquer outra linguagem.</p>
    <a class="project-link" href="https://github.com/Scarefault">Saiba mais</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" width="150px" height="150px" src="{{ "/assets/img/akan.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Akan Consciência Política</h3>
    <ul>
      <li> Linguagem: Android</li>
    </ul>
    <p>O projeto AKAN vem fornecer a sociedade brasileira maior transparência acerca dos gastos de deputados federais com CEAP's (Cotas para Exercício da Atividade Parlamentar.</p>
    <a class="project-link" href="https://github.com/VisualizeMobile">Saiba mais</a>
  </div>
</div>
<div class="user-projects">
  <div class="user-projects">
    <div class="images-right">
      <img alt="mountains" width="300px" height="250px"  src="{{ "/assets/img/robo.png" | prepend: site.baseurl }}" />
    </div>
    <div class="contents">
      <h3> Clean Pool Robot </h3>
      <ul>
        <li> Linguagem: Arduino e Python</li>
      </ul>
      <p>MVP (Minimum Viable Product) de um robô capaz de realizar a remoção de sujeiras depositadas no fundo de piscinas por meio da aspiração e filtragem.</p>
      <a class="project-link" href="https://github.com/CleanPoolRobot">Saiba mais</a>
    </div>
  </div>
  <br><br>
  <div class="user-projects">
    <div class="images-left">
      <img alt="mountains" width="300px" height="300px" src="{{ "/assets/img/unb.png" | prepend: site.baseurl }}" />
    </div>
    <div class="contents-right">
      <h3> SRA: Sistema de Registro de Atendimento </h3>
      <ul>
        <li> Linguagem: Ruby on Rails</li>
      </ul>
      <p>O sistema SRA (Sistema de Registro Acadêmico) solicitado pela Universidade de Brasília tem como objetivo gerenciar os serviços solicitados em diversos setores da Universidade</p>
      <a class="project-link" href="https://github.com/SRA-UnBGama">Saiba mais</a>
    </div>
  </div>
