<div class="user-details">
  <h1> Projetos </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" width="150px" height="150px"  src="{{ "/assets/img/scarefault.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Scarefault </h3>
    <ul>
      <li> Linguagem: C++</li>
    </ul>
    <p>Framework para geração de testes unitários. Implementado inicialmente para gerar testes para Grails, entretanto permite extender para qualquer outra linguagem.</p>
    <a class="project-link" href="https://github.com/Scarefault">Saiba mais</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" width="150px" height="150px"   src="{{ "/assets/img/akan.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Akan </h3>
    <ul>
      <li> Linguagem: Android</li>
    </ul>
    <p>O projeto AKAN vem fornecer a sociedade brasileira maior transparência acerca dos gastos de deputados federais com CEAP's (Cotas para Exercício da Atividade Parlamentar).</p>
    <a class="project-link" href="https://github.com/VisualizeMobile">Saiba mais</a>
  </div>
</div>
